<div class="row">
    <h2 class="col-10">Word Listing</h2>
    <a class="btn btn-success mb-4 float-right col-2" href="/words/add">Add Word</a>
</div>

{{!--
<div class="row">
    {{#each words}}
    <ul class="list-group col-3">
        <li class="list-group-item">
            <strong>{{ word }}</strong> ({{ score}})
            <br> {{ dialect }}
            <br>
            <small>{{moment date format="YYYY-MM-DD"}} </small>
            <a href="/words/edit/{{ id }}" class="btn btn-dark btn-block mb-2">Edit</a>
            <form action="/words/delete/{{id}}" method="post">
                <input type="submit" class="btn btn-block btn-danger" value="Delete">
            </form>
        </li>
    </ul>
    {{else}} No words listed {{/each}}
</div> --}}


<div id="app">
    <div class="row mb-3">
        <input class="form-control col-3" type="text" v-model="search" placeholder="Search...">

    </div>
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="#" class="nav-link" v-on:click.stop="getWords(search, 'unlisted')">Unlisted</a>
                </li>
                <li class="nav-item" v-for="dialect in dialects">
                    <a v-if="dialect !== 'unlisted'" v-on:click.stop="getWords(search, dialect)" class="nav-link" href="#">\{{ dialect }}</a>
                </li>

            </ul>
        </div>
        <ul class="col-10">
            <div class="row">
                <table id="wordsTable" class="table table-sm ">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Score</th>
                            <th>Dialect</th>
                            <th>Date Added</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr v-for="word in words">
                            <td>\{{ word.word }}</td>
                            <td>\{{ word.score}}</td>
                            <td>\{{ word.dialect }}</td>
                            <td>\{{ word.date }}</td>
                            <td>
                                <a v-bind:href="'/words/edit/' + word._id" class="btn btn-xs btn-dark btn-block mb-2">Edit</a>
                                <form :action="'/words/delete/' +  word._id " method="post">
                                    <input type="submit" class="btn btn-block btn-danger btn-xs" value="Delete">
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {{!-- <li v-for="word in words" class="list-group-item mr-3">
                    <strong>\{{ word.word }}</strong> (\{{ word.score}})
                    <br> \{{ word.dialect }}
                    <br>
                    <small>\{{ word.date }} </small>
                    <a v-bind:href="'/words/edit/' + word._id" class="btn btn-dark btn-block mb-2">Edit</a>
                    <form :action="'/words/delete/' +  word._id " method="post">
                        <input type="submit" class="btn btn-block btn-danger" value="Delete">
                    </form>
                </li> --}}
            </div>

        </ul>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            words: [],
            search: '',
            dialects: [],
            dialect: ''
        },
        methods: {
            getWords: function (word, dialect) {
                this.dialect = dialect;
                if (!dialect) {
                    dialect = null
                }
                // GET /someUrl
                this.$http.get('/api/words', { params: { word: word, dialect: dialect } }).then(response => {
                    // get body data
                    this.words = JSON.parse(response.bodyText);
                }, response => {
                    // error callback
                    alert('Unable to get words...');
                });
            },
            getDialects: function () {
                this.$http.get('/api/dialects', {}).then(response => {
                    // get body data
                    this.dialects = JSON.parse(response.bodyText);
                }, response => {
                    // error callback
                    alert('Unable to get dialects...');
                });
            }
        },
        watch: {
            search: function (val, oldValue) {
                this.getWords(val, this.dialect);

            }
        },
        beforeMount() {
            this.getWords('');
            this.getDialects();
        }
    })
</script>
<script>
    $(document).ready(function () {
        $('#wordsTable').DataTable();
    });
</script>